@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: black;
}

h1, h4, p, a, h2, h5, h6{
  color: rgb(107, 114, 128);
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  background-color: rgb(42, 3, 184);
  color: white;
  font-size: 15px;
  padding: 5px;
  text-transform: uppercase;
  /* font-weight: 600; */
  cursor: pointer;
  border-radius: 5px;
}


.btn:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}